<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Quoting Dojo</title>
</head>
<body>

    <h1>Welcome to Quoting Dojo</h1>

    <form action="/addquote" method="POST">
    <label>Your Name: <input type="text" name="name"></label>
    <label>Quote: <input type="text" name="quote"></label>
    <input type="submit" name="Submit Quote">
    
    </form>
    
    <a href="/quotespage"><button>View Quotes</button></a>
</body>
</html>