<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Chicken Dashboard</title>
</head>
<body>
    

    <h1>Welcome to the Chicken Dashboard: View a Chicken</h1>

<h4>You've requested Chicken with ID: <%= chickens[0].id %></h4>
                <p><b>Name:</b> <%= chickens[0].name %><br>
                    <b>Feathers Color:</b> <%= chickens[0].feathers %><br>
                    <b>Clucks Given:</b> <%= chickens[0].clucks_given %></p>




</body>
</html>